{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width={device-width}, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge"> 
    <link href="https://fonts.googleapis.com/css?family=Fira+Code&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/blog.css' %}">
    <title>Document</title>
</head>
<body>
    <header>
            <h1>Getting down with Django</h2> 
            <h2>Date: {{ current_time }}</h2>

            {% if request.user.is_authenticated %}
                <h3>Logged in as {{ request.user.username }}</h3>
                <li><a href="{% url 'new_article' %}">Post an article</a></li>
                <li><a href="{% url 'logout' %}">Log out</a></li>
            {% else %}
                <li><a href="#">Sign up!</a></li>
                <li><a href="{% url 'login' %}">Log in</a></li>
            {% endif %}
    </header>

    <main>
        {% block content %}
        {% endblock %} 
    </main>
    
    <footer>
        <p>These are the building blogs of Django. </p>
    </footer>
</body>
</html>